# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Ignore Next.js build output directory
.next/

# dependencies
/node_modules
/.pnp
.pnp.js
# testing
/coverage

# production
/build

# Ignore environment files
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.env.development
.env.production


# Ignore development server log files
npm-debug.log*

# Ignore IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*